<!DOCTYPE html>
<html>

<head>
  <title>
    hello
  </title>
  <script src="/javascripts/d3.v3.min.js"></script>
  <script src="/javascripts/jquery-3.3.1.min.js"></script>
  <style>
    * {
      margin: 0;
      padding: 0;
    }

    body {
      width: 600px;
      margin: 0 auto;
    }
  </style>
</head>

<body>
  <svg></svg>
  <script> 
    $.ajax({
      type: 'POST',
      url: "http://ptt.stonerao.com:3000/pdf",
      data: {
        a: 1
      },
      success: function (data) {
        console.log(data)
      },
      dataType: 'json'
    });
  </script>
</body>

</html>